{% extends "webapp/base.html" %}
{% block content %}
{% for counter in BOOKS %}
<article class="media content-section">
        <img class='rounded-circle article-img' src="{{ counter.author.profile.image.url }}">

        <div class="media-body">
                <div class="article-metadata">
                        <a class="mr-2" href="#">{{ counter.author }}</a>
                        <small class="text-muted">{{ counter.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' counter.id %}">{{ counter.title }}</a></h2>
                <p class="article-content">{{ counter.content }}</p>
        </div>
</article>
{% endfor %}
{%endblock content%}